#botn1,#botn2,#botn3,#botn4,#botn5
{ 
background-color: rgb(2, 106, 135);
border-radius: 10px;
font-size: 15px;
color: white;
text-align: start;
}   
#r,#c,#i,#l,#d{
font-size: 20px;
color:black;
text-align: center;
font-weight: bold;
}