 #btn1,#btn2{
     width: auto;
     height: auto;
     font-size: 27px;
     padding: 10px;
     color: rgb(47, 46, 46);
     border-radius: 15px;
     border-width: 0.5px;
     border-collapse: collapse;
     box-shadow: 5px 15px 12px rgba(77, 68, 209, 0.411);
     background-color: white;
 }
 #btn1:hover{
     background-color: rgb(37, 37, 37);
     color: rgb(248, 102, 34);
     transform: translateY(-7px);
}
#btn2:hover{
    background-color: rgb(37, 37, 37);
    color: rgb(248, 102, 34);
    transform: translateY(-7px);
}
#violencia{
    border-left: solid 1px gray;
    border-right: solid 1px gray;
    border-top: solid 1px gray;
    border-bottom: solid 1px gray;
    padding: 35px;
    border-radius: 15px;
}
#cerrar{
    
}