#barra{
    width: 100%;
    height: 20px;
    background-color: rgba(214, 209, 209, 0.589);
    color: rgb(44, 44, 44);
}   
#cp{
    margin-left: 30px;
}
#main{
    margin: 20px;
}
#left{
    float: left;
    background-color: green;
    width: 30%;
    height: 80px;
}
#right{
    background-color: greenyellow;
    float: right;
    width: 68.9%;
    height: 75px;
}
#lista{
    font-size: 20px;
}
#head{
    color: white;
}
#mn-header{
    width: 100%;
    height: 56px;
    background-color: rgb(20, 115, 240);
    color: white;
}
#cmab{
    font-size: 20px;
    color: white;
    margin-top: 12px;
    margin-left: 10px;
    font-family: 'Roboto', sans-serif;
}   
#show{
    width: 100%;
    height: 10px;
    background-color: yellow;
}
#sect{
    width: 100%;
    height: auto;
    margin-top: 15px;
    border: solid 1px rgb(170, 170, 170);
    padding: 20px;
}
#formuser{
    background-color: rgb(246, 246, 246);
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    place-items: center;
    box-shadow: 5px 10px 10px rgba(77, 68, 209, 0.411);
    border-radius: 15px;
}
#AddUsr{
    width: 100%;
}
#form-main{
    width: 80%;
    display: grid;
    place-items: center;
    height: auto;
    margin-bottom: 20px;
    margin-top: 14px;
}
#hd{
    font-size: 24px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: rgb(65, 65, 65);
}
#form-header{
    margin: 10px;
    font-size: 20px;
    display: inline-block;
    width: 100%;
    text-align: left;
}
.txt{
    width: 100%;
    margin: 2   px;
    color: rgb(63, 61, 61);
    font-size: 24px;
    border-style: 1px rgb(224, 218, 218);
    /*box-shadow: 2px 3px 2px rgba(77, 68, 209, 0.411);*/
    border-radius: 10px;
    border-width: 0.4px;
    border-color: rgb(211, 212, 212);
}
.aa1,.aa2,.aa3{
    margin: -104px;
    margin-left: 10%;
    display: inline-block;
    width: 12%;
    color: white;
    text-align: center;
    height: 34px;
    border-radius: 10px;
    text-decoration: none;
    box-shadow: 5px 10px 10px rgba(88, 90, 88, 0.411);

}
.aa1{
    background-color: rgba(3, 129, 3, 0.883);
}
.aa2{
    background-color: rgba(158, 156, 6, 0.924);
}
.aa3{
    background-color: rgba(187, 6, 6, 0.801);
}
.aa1:hover,.aa2:hover,.aa3:hover{
    width: 18%;
    text-decoration: none;
}
.aa1:hover{
    background-color: rgba(55, 235, 55, 0.883);
    color: rgb(51, 51, 51);
}
.aa2:hover{
    background-color: rgba(214, 211, 9, 0.924);
    color: rgb(51, 51, 51);
}
.aa3:hover{
    background-color: rgba(235, 19, 19, 0.801);
    color: rgb(51, 51, 51);
}
.lbl{
    width: 100%;
    font-size: 20px;
    color: rgb(80, 79, 79);
    margin-left: 1%;
    display: inline-block;
    margin-top: 10px;
}
.txt1{
    display: inline-block;
    width: 36%;
    margin-top: 20px;
    color: rgb(63, 61, 61);
    font-size: 24px;
    border-style: 1px rgb(224, 218, 218);
    border-radius: 10px;
    border-width: 0.4px;
    border-color: rgb(211, 212, 212);
    margin-left:3.5px;
}
.cb{
    width: 31%;
    margin-top: 20px;
    color: rgb(63, 61, 61);
    font-size: 26px;
    border-style: 1px rgb(224, 218, 218);
    border-radius: 10px;
    border-width: 0.4px;
    border-color: rgb(211, 212, 212);
}
#cbadmin{
    margin-left:3.5px;
}
#row{
    width: 100%;display:inline-block;margin: 15px;
    margin-top: -5px;
}