#barra{
    width: 100%;
    height: 20px;
    background-color: rgba(214, 209, 209, 0.589);
    color: rgb(44, 44, 44);
}   
#cp{
    margin-left: 30px;
}
#main{
    margin: 20px;
}
#left{
    float: left;
    background-color: green;
    width: 30%;
    height: 80px;
}
#right{
    background-color: greenyellow;
    float: right;
    width: 68.9%;
    height: 80px;
}
#lista{
    font-size: 20px;
}
#head{
    color: white;
}
#mn-header{
    width: 100%;
    height: 56px;
    background-color: rgb(20, 115, 240);
    color: white;
}
#cmab{
    font-size: 20px;
    color: white;
    margin-top: 12px;
    margin-left: 10px;
    font-family: 'Roboto', sans-serif;
}
#show{
    width: 100%;
    height: 20px;
    background-color: yellow;
}